{% if page.title == "Home"
   or page.title == "Blog"
   or page.title == "Projects"
   or page.title == "Tags"
%}{% assign showHeader = true %}{% endif %}

{% if showHeader == true %}
    <header class="header-home {% if site.animation %}animated{% endif %}">
        <!-- {% if site.about %}
            <a class="link gradient-border" href="{{ site.url }}/">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% else %}
            <span class="link">
                <img class="selfie gradient-border" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %} -->

        <h1 class="title" style="font-family: 'Halant', serif; color: #1D1D1D;">{{ site.name }}</h1>
        <p style="font-family: 'Nunito Sans', sans-serif; color: #1D1D1D;">Currently a senior at the University of Waterloo studying Software Engineering. Spending the year between San Francisco, Chicago, and the UK. Get in touch below!</p>


        {% include social-links.html %}

    </header>
{% endif %}

{% include nav.html %}
